@using TManagementOrders.Domain.Entities
@model ProductFilterViewModel

@{
    ViewData["Title"] = "Lista de Produtos";
}

<div class="container">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="mb-0">Clientes</h2>
        <a asp-action="GotoCreateProductPage"
           asp-controller="Product"
           class="btn btn-primary">
            <i class="bi bi-plus-lg"></i> Novo Produto
        </a>
    </div>

    <form asp-action="Index" method="get" class="mb-4">
        <div class="row">
            <div class="col-md-10">
                <input type="text"
                       name="filter"
                       value="@Model.Filter"
                       class="form-control"
                       placeholder="Busque um produto pelo nome..." />
            </div>
            <div class="col-md-2 text-end">
                <button type="submit" class="btn btn-outline-secondary w-100">
                    <i class="bi bi-search"></i> Filtrar
                </button>
            </div>
        </div>
    </form>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Preço</th>
                <th>Quantidade</th>
                <th>Editar</th>
                <th>Deletar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Products)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>@product.Description</td>
                    <td>R$ @product.Price.ToString("N2")</td>
                    <td>@product.Quantity</td>
                    <td class="text-center">
                        <a asp-action="GotoEditProductPage"
                           asp-controller="Product"
                           asp-route-id="@product.Id"
                           class="btn btn-sm btn-outline-primary"
                           title="Editar produto">
                            <i class="bi bi-journal-text"></i>
                        </a>
                    </td>

                    <td class="text-center">
                        <button class="btn btn-sm btn-outline-danger"
                                onclick="deleteProduct(@product.Id, this)"
                                title="Excluir cliente">
                            <i class="bi bi-trash"></i>
                        </button>
                    </td>
                </tr>
                }
        </tbody>
    </table>
</div>


@section Scripts {
     <script>
        async function deleteProduct(id, button) {
            const confirmDelete = confirm("Tem certeza que deseja excluir este producto?");
            if (!confirmDelete) return;

            try {
                const response = await fetch(`/Product/DeleteProduct/${id}`, {
                    method: 'DELETE'
                });

                if (response.ok) {
                    const row = button.closest('tr');
                    row.remove();
                } else {
                    console.log("Erro ao excluir produto.");
                }
            } catch (error) {
                console.error(error);
                 console.log("Erro ao comunicar com o servidor.");
            }
        }
    </script> 
}
